#footer {
  /* background-color: black; */
  color: black;
  text-align: center;
  display: flex;
  justify-content: center;
 
 border-top-style: groove;
  /* display: inline; */
  /* background-color: #eeebd3; */
}
