@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");

/* @keyframes backgroundMove {
  from {
    background-color: #fdfffc;
  }
  to {
    background-color: #30292f;
  }
} */

#navBar {
  background-color: #eeebd3;

  /* animation: backgroundMove 40s infinite; */

  display: flex;
  /* justify-items: right; */
  justify-content: right;
  position: relative;
  /* margin-left: 600px; */
  font-size: 30px;
  text-decoration: none;
  font-family: "Anton", sans-serif;
  color: red;
}

#navBarImage {
  max-height: 20px;
  width: 40px;
  object-fit: contain;
  object-position: 5px;
}

@keyframes colorMove {
  from {
    color: #255957;
  }
  to {
    color: #437c90;
  }
}

a {
  color: #651d1c;
  text-decoration: none;
}

a:hover {
  animation: colorMove 10s infinite;
}
