#navBar {
  background-color: #EFF0D1;
  
  text-decoration: none;

  /* background-image: url("https://i.imgur.com/OP54uJZ.jpg"); */
}

#navBarImage {
  max-height: 20px;
  width: 40px;
  object-fit: contain;
  object-position: 5px;
}
